<!-- AUTHENTICATED INDEX VIEW; CART -->

<ion-view view-title="My Cart">
  <ion-pane>
    <ion-nav-bar class="bar-light">
      <!-- <ion-nav-back-button>
      </ion-nav-back-button> -->
    </ion-nav-bar>
    <ion-content>
      <ion-list>
        <ion-item class="item-thumbnail-left" ng-repeat="item in cart">
          <img ng-src="{{ item.image }}">
          <h2>{{ item.name }} <span ng-show="item.weight_required">({{ item.weight }})</span></h2>
          <!-- <p ng-show="item.weight_required">{{ item.weight }}</p> -->
          <p class="price">{{ item.cost | currency:'$' }}</p>
          <ion-option-button class="button-assertive" ng-click="removeFromList(item)">
            Remove
          </ion-option-button>
        </ion-item>
      </ion-list>
      <button class="button button-full button-balanced" ng-click="addItem()">
        <span class="ion-plus"></span> Add Item to Cart
      </button>
      <button class="button button-full button-positive" ng-click="proceedToCheckout()">
        <span class="ion-bag"></span> Proceed to Checkout
      </button>
      <!-- <button class="button button-full button-clear button-assertive" ng-click="signOut()"><strong>Sign Out</strong> (testing)</button> -->
    </ion-content>
  </ion-pane>
</ion-view>
