<ion-view view-title="Payment Info">
  <ion-pane>
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
      <!-- <ion-list>
        <ion-item ng-repeat="item in cart">
          <strong>{{ item.name }}</strong><span ng-show="item.weight_required"> - {{ item.weight }}</span><span class="item-note"><strong>{{ item.cost | currency:'$' }}</strong></span>
          <ion-option-button class="button-assertive" ng-click="removeFromList($index)">
            Remove
          </ion-option-button>
        </ion-item>
      </ion-list> -->

      <form action="" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_IGIzpUSobcxSpaTtcrJhkcK2"
          data-amount="999"
          data-name="Demo Site"
          data-description="Widget"
          data-image="/img/documentation/checkout/marketplace.png"
          data-locale="auto">
        </script>
      </form>
      <!-- <button class="button button-full button-royal">
        <span class="ion-card"></span> Enter Payment Information
      </button> -->
      <!-- <button class="button button-full button-clear button-assertive" ng-click="signOut()"><strong>Sign Out</strong> (testing)</button> -->
    </ion-content>
  </ion-pane>
</ion-view>
